<div class="mat-elevation-z8">
    <mat-form-field style="width: 100%;">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Filter" (keyup)="FilterChange($event)">
    </mat-form-field>
    <table mat-table matSort [dataSource]="dataSource">
  
      
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="mob">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.mob}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
      
      <ng-container matColumnDef="addr">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.addr}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let element"><button routerLink="register" mat-raised-button color="primary" (click)="getsingle(element.id)">Edit</button></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="delete(element.id)">Delete</button>  </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
